.content {
  margin: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
body {
  min-height: 1500px;
}
